body {
    background-color: #DE850D;
}
.contenedor {
    width: 100%;
    margin: 15 auto;
    text-align: center;
}
.titulo {
    color: #FFFFFF;
    background-color: #9633FF;
    padding: 10px;
    border-radius: 30px;
}
.imagen {
    width: 50%;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
}
.parrafo {
    color: #000000;
    margin: 5px 0;
}